doc
modinit.c
drivers/rtca_now.h
openchronos.txt
openchronos.elf
openchronos.dep
openchronos.cflags
*.[oa]
*.pyc
*.*~
*.s
*.swp
tools/config.pyc
config.h
.pida-metadata
TAGS
tags
output.map
cscope.out
